<!-- MAIN CONTECT -->
<div class="main_contect">
  <main class="main_app">
    <section>
      <h2 id="title_view" class="hidden">Perfil</h2>
      <h2 id="title_view_profile" class=" hidden">General</h2>
    </section>

    <div class="profile_grid">
      <section class="profile_edit">
        {{>profile/navegation}}
        <div class="profile_settings">
          <form action="/profile/update/general/{{user.id_persona}}" method="POST" enctype="multipart/form-data">
            <section class="section_form_profile">
              <div class="title_section_form">
                <h5>Foto de perfil:</h5>
              </div>
              <label for="inputFile_avatar" class="data_img_avatar" id="data_img_avatar">
                <div class="container_avatar">
                  <div class="avatar">
                    <div class="mask-squircle">
                      <img id="img_avatar" src={{user.path}} alt="logo">
                    </div>
                  </div>
                  <div class="icon_edit_avatar">
                    <div class="avatar">
                      <div class="mask-squircle">
                        <span class="fas fa-camera"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text">
                  <h6>Suelte su archivo aquí o seleccione una imagen</h6>
                  <p>Solo se permiten formatos: <span>JPEG</span>, <span>JPG</span> y <span>PNG</span>.</p>
                  <h6 id="error_avatar" class="error_avatar"><span class="fas fa-triangle-exclamation"></span>
                    <p id="error_avatar_text">Error</p>
                  </h6>
                </div>
                <div class="text_drag">
                  <h6>Suelta la imagen para subir...</h6>
                </div>
                <input id="inputFile_avatar" type="file" name="avatar_img" hidden>
              </label>

            </section>
            <section class="section_form_profile">
              <div class="title_section_form">
                <h5>Datos Personales:</h5>
              </div>
              <div class="container_inputs">
                <div class="data_cedula_persona">
                  <label for="cedula_persona">Cédula</label>
                  <input name="cedula_persona" class="input" id="cedula_persona" type="text" autocomplete="off" required
                    value="{{user.cedula_persona}}" />
                </div>
                <div class="data_nombres_persona">
                  <label for="nombres_persona">Nombres</label>
                  <input name="nombres_persona" class="input" id="nombres_persona" type="text" autocomplete="off"
                    required value="{{user.nombres_persona}}" />
                </div>
                <div class="data_apellidos_persona">
                  <label for="apellidos_persona">Apellidos</label>
                  <input name="apellidos_persona" class="input" id="apellidos_persona" type="text" autocomplete="off"
                    required value="{{user.apellidos_persona}}" />
                </div>
                <div class="data_fecha_nacimiento_persona">
                  <label for="fecha_nacimiento_persona">Fecha Nacimeinto</label>
                  <input name="fecha_nacimiento_persona" class="input" id="fecha_nacimiento_persona" type="date"
                    autocomplete="off" required value="{{user.fecha_nacimiento_persona}}" />
                </div>
                <div class="data_tel_persona">
                  <label for="tel_persona">Telefono</label>
                  <input name="tel_persona" class="input" id="tel_persona" type="tel" autocomplete="off" required
                    value="{{user.tel_persona}}" />
                </div>
              </div>
            </section>

            <section class="section_form_profile">
              <div class="title_section_form">
                <h5>Dirección:</h5>
              </div>
              <div class="container_inputs">
                <div class="data_direccion_persona">
                  <label for="direccion_persona">Direccion</label>
                  <input name="direccion_persona" class="input" id="direccion_persona" type="text" autocomplete="off"
                    required value="{{user.direccion_persona}}" />
                </div>
                <div class="data_provincia">
                  <label for="provincia">Provincia</label>
                  <input name="provincia" class="input" id="provincia" type="text" autocomplete="off" required
                    value="{{user.provincia}}" />
                </div>
                <div class="data_canton">
                  <label for="canton">Canton</label>
                  <input name="canton" class="input" id="canton" type="text" autocomplete="off" required
                    value="{{user.canton}}" />
                </div>
                <div class="data_parroquia">
                  <label for="parroquia">Parroquia</label>
                  <input name="parroquia" class="input" id="parroquia" type="text" autocomplete="off" required
                    value="{{user.parroquia}}" />
                </div>
              </div>
            </section>
            <div class="buttons_form_profile">
              <button class="btn">Cancelar</button>
              <button class="btn" type="submit" disabled>Guardar</button>
            </div>
          </form>
        </div>
      </section>
      {{>profile/preview_profile}}
    </div>
  </main>
</div>