<!-- MAIN CONTECT -->
<div class="main_contect">
    <main class="main_app">
        <section class="dash_title">
            <h2 id="title_modules" class="pestana hidden">Componentes Patient</h2>

        </section>

        <!--Contenedor 1-->

        <div class="instituciones_medicas_grid">
            <section class="instituciones_medicas_wrapper">
                <div class="instituciones_medicas_filter">
                    <div>
                        <span class="fas fa-search"></span>
                        <input onkeyup="instituciones_medicas_filter()" id="instituciones_medicas_filter" type="text"
                            placeholder="Filtrar por: institución, tipo" />
                    </div>
                </div>
                <div class="instituciones_medicas_list">
                    {{#each componentes_patient}}
                    <div class="per-card-3">
                        <div class="card-image">
                            <span></span>
                            <span class="per-name">{{nombre_componente}}</span>
                        </div>
                        <div class="card-content">
                            <div class="card-text">
                                <span>{{descripcion_componente}}</span>
                            </div>
                       
                            <div>
                                {{#if default_componente}}
                                <i class="fas fa-unlock"></i>
                                <button onclick="window.location='/componentes_patient/lock/{{id_componente}}'"class="btn_salutest">Hacer privado</button>
                                {{else}}
                                <i class="fas fa-lock"></i>
                                <button onclick="window.location='/componentes_patient/unlock/{{id_componente}}'" class="btn_salutest">Hacer público</button>

                                
                                {{/if}}
                            </div>
                         
                        </div>
                    </div>

                    {{/each}}

                </div>
                {{#unless componentes_patient}}
                <div class="container_instituciones_medicas_no_content">
                    <h1>No hay instituciones</h1>
                </div>
                {{/unless}}
            </section>
            <section class="instituciones_medicas_info">
                <div class="summary_card">
                    <div onclick="window.location='/componentes_patient/totales'" class="summary_single">
                        <div>
                            <span class="fas fa-list"></span>
                            <span>Totales</span>
                        </div>
                        <h5>{{length componentes_patient_totales}}</h5>
                    </div>
                </div>

                <!--Publicas-->

                <div class="summary_card">
                    <div onclick="window.location='/componentes_patient/publicos'" class="summary_single">
                        <div>
                            <span class="fas fa-unlock"></span>
                            <span>Publicos</span>
                        </div>
                        <h5>{{length componentes_patient_publicos}}</h5>
                    </div>

                    <!--Privadas-->

                    <div onclick="window.location='/componentes_patient/privados'" class="summary_single">
                        <div>
                            <span class="fas fa-lock"></span>
                            <span>Privados</span>
                        </div>
                        <h5>{{length componentes_patient_privados}}</h5>
                    </div>
                </div>
            </section>
        </div>