<!-- MAIN CONTECT -->
<div class="main_contect">
    <main class="main_app">
        <section class="dash_title">
            <h2 id="title_modules" class="hidden">Instituciones</h2>
            <h2>Instituciones Médicas</h2>
            <a href="/home"><span class="far fa-times-circle"></span></a>
        </section>
        <div class="instituciones_medicas_grid">
            <section class="instituciones_medicas_wrapper">
                <div class="instituciones_medicas_filter">
                    <div>
                        <span class="fas fa-search"></span>
                        <input onkeyup="instituciones_medicas_filter()" id="instituciones_medicas_filter" type="text"
                            placeholder="Filtrar por: institución, tipo" />
                    </div>
                </div>
                <div class="instituciones_medicas_list">
                    {{#each instituciones}}
                    <div class="card">
                        <h1>{{nombre}}</h1>
                        <span class="fas fa-hospital"></span>
                        <h1>{{descripcion}}</h1>
                        <h1>{{formatDate creacioninstituciones_medicas}}</h1>
                    </div>
                    {{else}}
                    <div class="container_instituciones_medicas_no_content">
                        <h1>No hay instituciones</h1>
                    </div>
                    {{/each}}
                </div>
            </section>
            <section class="instituciones_medicas_info">
                <div class="summary_card">
                    <div class="summary_single">
                        <div>
                            <span class="fas fa-house-medical"></span>
                            <span>Farmacias</span>
                        </div>
                        <h5>{{length instituciones}}</h5>
                    </div>
            
                    <div class="summary_single">
                        <div>
                            <span class="fas fa-hospital-user"></span>
                            <span>Clinicas</span>
                        </div>
                        <h5>{{length instituciones}}</h5>
                    </div>
            
                    <div class="summary_single">
                        <div>
                            <span class="fas fa-hospital"></span>
                            <span>Hospitales</span>
                        </div>
                        <h5>{{length instituciones}}</h5>
                    </div>
                </div>
            </section>
        </div>
    </main>
</div>