<!-- MAIN CONTECT -->
<div class="main_contect">
    <main class="main_app">
        <section class="dash_title">
            <h2 class="pestana hidden home">Home</h2>
            <h2 id="title_modules" class="hidden">Instituciones</h2>
            <h2 id="title_pestaña" class="pestana hidden">Instituciones Médicas</h2>
        </section>
        <div class="instituciones_medicas_grid">
            <section class="instituciones_medicas_wrapper">
                <div class="instituciones_medicas_list">
                    {{#each instituciones}}
                        <div onclick="window.location='/sucursales_medicas/{{id_institucion_medica}}'" class="card">
                            <div class="card_top">

                                <img src="https://static.vecteezy.com/system/resources/previews/005/213/046/original/letter-s-colorful-logo-design-vector.jpg"
                                    alt="">
                            </div>
                            <div class="card_bottom">
                                <div class="categoria_institucion_medica">
                                    <span class="fas fa-hospital"></span>
                                    <h6>Institución Médica</h6>
                                </div>
                                <h1 class="nombre_institucion_medica">{{nombre_institucion_medica}}</h1>
                            </div>
                        </div>
                    </a>
                    {{/each}}
                </div>
                {{#unless instituciones}}
                <div class="container_instituciones_medicas_no_content">
                    <h1>No hay instituciones</h1>
                </div>
                {{/unless}}
            </section>
            <section class="instituciones_medicas_info">
                <div onclick="window.location='/instituciones_medicas'" class="summary_card">
                    <div class="summary_single">
                        <div>
                            <span class="fas fa-list"></span>
                            <span>Totales</span>
                        </div>
                        <h5>{{length instituciones}}</h5>
                    </div>
                </div>
                <div class="summary_card">
                    <div onclick="window.location='/instituciones_medicas/Publica'" class="summary_single">
                        <div>
                            <span class="fas fa-unlock"></span>
                            <span>Publicas</span>
                        </div>
                        <h5>{{length instituciones_public}}</h5>
                    </div>

                    <div onclick="window.location='/instituciones_medicas/Privada'" class="summary_single">
                        <div>
                            <span class="fas fa-lock"></span>
                            <span>Privadas</span>
                        </div>
                        <h5>{{length instituciones_private}}</h5>
                    </div>
                </div>
            </section>
        </div>
    </main>
</div>