<!-- MAIN CONTECT -->
<div class="main_contect">
    <main class="main_app">
        <section class="dash_title">
            <h2 class="pestana hidden home">Home</h2>
            <h2 class="pestana hidden">Apps</h2>
            <h2 id="title_modules" class="hidden">Modulos Management</h2>
            <h2 id="title_pestaña" class="pestana hidden">Modulos Management</h2>
        </section>

        <!--Contenedor 1-->

        <div class="instituciones_medicas_grid">
            <section class="instituciones_medicas_wrapper">
                <div class="instituciones_medicas_list management">
                    {{#each modules_management}}
                    <div class="tarj-modu">
                        <div class="left-column background-left-column">
                            <h6>Modulo</h6>
                            <h2>{{nombre_modulo}}</h2>
                            
                        </div>
                        <div class="rigth-column">
                            <div>
                                <h4>{{formatDate creacionModulo}}</h4>
                               
                            </div>
                            <h2>{{valor_catalogo}}</h2>
                            <p>{{descripcion_modulo}}</p>
                            

                            {{#if (public valor_catalogo)}}
                            <i class="fas fa-unlock"></i>
                            <button onclick="window.location='/modules_management/lock/{{id_modulo}}'"
                                class="btn_salutest">Hacer privado</button>
                            {{else}}
                            <i class="fas fa-lock"></i>
                            <button onclick="window.location='/modules_management/unlock/{{id_modulo}}'"
                                class="btn_salutest">Hacer público</button>
                            {{/if}}

                            
                        </div>
                    </div>
                    {{/each}}

                </div>
                {{#unless modules_management}}
                <div class="container_instituciones_medicas_no_content">
                    <h1>No hay instituciones</h1>
                </div>
                {{/unless}}
            </section>
            <section class="instituciones_medicas_info">
                <div class="summary_card">
                    <div onclick="window.location='/modules_management'" class="summary_single">
                        <div>
                            <span class="fas fa-list"></span>
                            <span>Totales</span>
                        </div>
                        <h5>{{length modules_management_totals}}</h5>
                    </div>
                </div>

                <!--Publicas-->

                <div class="summary_card">
                    <div onclick="window.location='/modules_management/public'" class="summary_single">
                        <div>
                            <span class="fas fa-unlock"></span>
                            <span>Publicos</span>
                        </div>
                        <h5>{{length modules_management_public}}</h5>
                    </div>

                    <!--Privadas-->

                    <div onclick="window.location='/modules_management/private'" class="summary_single">
                        <div>
                            <span class="fas fa-lock"></span>
                            <span>Privados</span>
                        </div>
                        <h5>{{length modules_management_private}}</h5>
                    </div>
                </div>
                <div class="summary_card">
                    <div onclick="window.location='/module'" class="summary_single new">
                        <div>
                            <span class="fas fa-square-plus"></span>
                            <span>Nuevo</span>
                        </div>
                    </div>
                </div>
            </section>
        </div>