<!-- MAIN CONTECT -->
<div class="main_contect">
    <main class="main_app">
        <section class="dash_title">
            <h2 id="title_modules" class="pestana hidden">Componentes Patient</h2>
        </section>

        <!--Contenedor 1-->

        <div class="instituciones_medicas_grid">
            <section class="instituciones_medicas_wrapper">
                <div class="instituciones_medicas_list">
                    {{#each modules_patient}}
                    <div class="per-card-3">
                        <div class="card-image">
                            <span></span>
                            <span class="per-name">{{nombre_modulo}}</span>
                        </div>
                        <div class="card-content">
                            <div class="card-text">
                                <span>{{descripcion_modulo}}</span>
                                <span>{{valor_catalogo}}</span>
                            </div>

                            <div>
                                {{#if (public valor_catalogo)}}
                                <i class="fas fa-unlock"></i>
                                <button onclick="window.location='/modules_patient/lock/{{id_modulo}}'"
                                    class="btn_salutest">Hacer privado</button>
                                {{else}}
                                <i class="fas fa-lock"></i>
                                <button onclick="window.location='/modules_patient/unlock/{{id_modulo}}'"
                                    class="btn_salutest">Hacer público</button>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    {{/each}}

                </div>
                {{#unless modules_patient}}
                <div class="container_instituciones_medicas_no_content">
                    <h1>No hay instituciones</h1>
                </div>
                {{/unless}}
            </section>
            <section class="instituciones_medicas_info">
                <div class="summary_card">
                    <div onclick="window.location='/modules_patient'" class="summary_single">
                        <div>
                            <span class="fas fa-list"></span>
                            <span>Totales</span>
                        </div>
                        <h5>{{length modules_patient_totals}}</h5>
                    </div>
                </div>

                <!--Publicas-->

                <div class="summary_card">
                    <div onclick="window.location='/modules_patient/public'" class="summary_single">
                        <div>
                            <span class="fas fa-unlock"></span>
                            <span>Publicos</span>
                        </div>
                        <h5>{{length modules_patient_public}}</h5>
                    </div>

                    <!--Privadas-->

                    <div onclick="window.location='/modules_patient/private'" class="summary_single">
                        <div>
                            <span class="fas fa-lock"></span>
                            <span>Privados</span>
                        </div>
                        <h5>{{length modules_patient_private}}</h5>
                    </div>
                </div>
            </section>
        </div>
    </main>
</div>