<!-- MAIN CONTECT -->
<div class="main_contect">
    <main class="main_app">
        <section class="dash_title">
            <h2 id="title_modules">Solicitudes</h2>
            <a href="/home"><span class="far fa-times-circle"></span></a>
        </section>
        <div class="solicitudes_grid">
            <section class="solicitudes_info">
                <div class="summary_card">
                    <div class="summary_single">
                        <div>
                            <span class="fas fa-list"></span>
                            <span>Totales</span>
                        </div>
                        <h5>{{length solicitudes}}</h5>
                    </div>
                    <div class="summary_single">
                        <div>
                            <span class="fas fa-file-circle-exclamation"></span>
                            <span>Pendientes</span>
                        </div>
                        <h5>{{length solicitudes_awaiting}}</h5>
                    </div>
            
                    <div class="summary_single">
                        <div>
                            <span class="fas fa-file-circle-check"></span>
                            <span>Aprobadas</span>
                        </div>
                        <h5>{{length solicitudes_approved}}</h5>
                    </div>
            
                    <div class="summary_single">
                        <div>
                            <span class="fas fa-file-circle-minus"></span>
                            <span>Canceladas</span>
                        </div>
                        <h5>{{length solicitudes_canceled}}</h5>
                    </div>
                </div>
            
                <div class="users_card">
                    <div class="user_header">
                        <h1>Nuevos</h1>
                    </div>
                    {{#each solicitudes_new}}
                    <div class="user_single">
                        <div class="info">
                            <img src="/img/img_profile.png" alt="" />
                            <div>
                                <h4>{{nombre_institucion_medica}}</h4>
                                <div class="details">
                                    <h5>{{categoria_institucion}}</h5>
                                    <h5>{{tipo_institucion}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{else}}
                    <div class="container_solicitudes_process_no_content">
                        <h1>No hay solicitudes en nuevas</h1>
                    </div>
                    {{/each}}
            
                </div>
            
            </section>
            <section class="solicitudes_wrapper">
                {{#each solicitud_info}}
                <div class="user_single">
                    <div class="info">
                        <img src="/img/img_profile.png" alt="" />
                        <div>
                            <h4>{{nombre_institucion_medica}}</h4>
                            <div class="details">
                                <h5>{{categoria_institucion}}</h5>
                                <h5>{{tipo_institucion}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <a href="/cancel/{{id_solicitud}}"><button class="btn btn_signup_edit" type="submit">
                            Cancelar
                        </button></a>
                    <a href="/approve/{{id_solicitud}}"><button class="btn btn_signup_edit" type="submit">
                            Aprobar
                        </button></a>
                </div>
                {{/each}}
            </section>
        </div>
    </main>
</div>