{{#if user}}
<!-- HEADER -->
<header class="header_app">
    <div>
        <div class="sign_out">
            <span class="las la-sign-out-alt"></span>
            <a href="/logout">
                <h5>Cerrar Sesión</h5>
            </a>
        </div>
    </div>
    <div class="user_wrapper" onclick="window.location='/profile'">
        <div>
<<<<<<< HEAD:salutest-business/src/views/partials/header.hbs
            <h5>{{user.nombres_persona}} {{user.apellidos_persona}}</h5>
            <p>{{user.nombre_rol}}</p>
=======
            <div>
                <h5>{{user.nombres_persona}} {{user.apellidos_persona}}</h5>
                <p>{{user.nombre_rol}}</p>
            </div>
>>>>>>> 052a5d56dcc78f6eac17af974871f1c995229163:salutest-management/src/views/partials/header.hbs
        </div>
        <img src="/img/img_profile.png" alt="">
    </div>
</header>
{{/if}}