{{#if user}}
<!-- SIDEBAR -->
<div id="sidebar" class="sidebar">
    <div class="sidebar_header">
        <div class="brand">
            <img src="/img/Saluth_ligth.svg" alt="logo">
            <div id="title_header_nav" class="title_nav">
                <span>Saluth</span>
                <span>Business</span>
            </div>
        </div>
        <label id="toggle" class=" menu_toggle">
            <i class="fa-solid fa-angle-left"></i>
        </label>
    </div>
    <div class="sidebar_menu">
        <ul>
            <li class="list">
                <a href="/home">
                    <span class="las la-home"></span>
                    <div id="title_modules_nav">
                        <span class="title_modules">Home</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
                <section class="hint">
                    <span>Home</span>
                </section>
            </li>
            {{#each categoria_modulos}}
            <div class="subtitle_nav">
                <div class="subtitle">
                    <h2>{{valor_catalogo}}</h2>
                </div>
            </div>
            {{#each ../app_modules}}
            {{#if (tipos_modulos valor_catalogo ../valor_catalogo nombre_catalogo)}}
            <li class="list">
                <a href={{url_modulo}}>
                    <span class="las la-{{icono_modulo}}"></span>
                    <div id="title_modules_nav">
                        <span class="title_modules">{{nombre_modulo}}</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
                <section class="hint">
                    <span>{{nombre_modulo}}</span>
                </section>
            </li>
            {{/if}}
            {{/each}}
            {{/each}}

        </ul>
        <ul>
            <li class="list">
                <a href="/settings">
                    <span class="las la-cog"></span>
                    <div id="title_modules_nav">
                        <span class="title_modules">Ajustes</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
                <section class="hint">
                    <span>Ajustes</span>
                </section>
            </li>
        </ul>
    </div>

    <div class="menu_profile visuallyhidden hidden" id="menu_profile">
        <div id="menu_profile_sidebar_footer" class="sidebar_footer">
            <h3 class="brand">
                <div class="avatar">
                    <div class="mask-squircle">
                        <img src={{user.path}} alt="logo">
                    </div>
                </div>
                <div class="title">
                    <span>{{user.nombres_persona}} {{user.apellidos_persona}}</span>
                    <span>{{user.nombre_rol}}</span>
                </div>
            </h3>
        </div>
        <div id="menu_profile_list" class="menu_profile_list">
            <ul>
                <li class="list">
                    <a href="/profile/general">
                        <span class="las la-user-circle"></span>
                        <div id="title_modules_nav">
                            <span class="title_modules">Perfil</span>
                            <span id="point_nav" class="fas fa-circle"></span>
                        </div>
                    </a>
                </li>
                <li class="list">
                    <a href="/logout">
                        <span class="las la-sign-out-alt"></span>
                        <div>
                            <span class="title_modules">Cerrar Sesión</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div id="menu_profile_footer" class="footer">
            <span>Saluth ~ v2.0.2</span>
        </div>
    </div>

    <div class="sidebar_footer">
        <h3 class="brand">
            <div class="avatar">
                <div class="mask-squircle">
                    <img id="img_toggle_menu_profile" src={{user.path}} alt="logo">
                </div>
                <div class="mask-squircle indicator">
                    <div class="mask-squircle shader"></div>
                </div>
            </div>
            <div class="title" id="title_footer_nav">
                <span>{{user.nombres_persona}} {{user.apellidos_persona}}</span>
                <span>{{user.nombre_rol}}</span>
            </div>
        </h3>
        <label id="toggle_menu_profile" class="fa-solid fa-ellipsis-vertical toggle_menu_profile"></label>
    </div>
</div>

{{/if}}