

<!-- MAIN CONTECT -->
<div class="main_contect">
  <main class="main_app">
    <!-- MAIN -->
    <section class="dash_title">
      <h2 id="title_modules">Perfil</h2>
      <a href="/home"><span class="far fa-times-circle"></span></a>
    </section>

    <div class="profile_grid">
      <section class="profile_preview">
        <div class="general_data">
          <img src="/img/img_profile.png" alt="" />
          <div>
            <h3>{{user.nombre}} {{user.apellido}}</h3>
            <span>{{user.correo}}</span>
          </div>
        </div>
        <div class="personal_data">
          <div class="personal_data_header">
            <span>Datos Personales</span>
          </div>
          <div class="personal_data_contect">
            <div class="card_data_single">
              <h5>Cédula:</h5>
              <span>{{user.cedula}}</span>
            </div>

            <div class="card_data_single">
              <h5>Género:</h5>
              <span>{{user.genero}}</span>
            </div>

            <div class="card_data_single">
              <h5>Edad:</h5>
              <span>--</span>
            </div>

            <div class="card_data_single">
              <h5>Estatura:</h5>
              <span>{{user.estatura}}</span>
            </div>

            <div class="card_data_single">
              <h5>Peso:</h5>
              <span>{{user.peso}}</span>
            </div>
          </div>
        </div>
      </section>
      <section class="profile_edit">
        <div class="sidebar_profile">
          <div class="sidebar_profile_header">
            <div>
              <span class="fas fa-cogs"></span>
              <h1>Configuración</h1>
            </div>
            <span class="fas fa-ellipsis-v"></span>
          </div>
          <div class="sidebar_profile_contect">
            <ul>
              <li>
                <a href="">
                  <span class="las la-tasks"></span>
                  <div>
                    <span>Datos Personales</span>
                    <span class="fas fa-circle"></span>
                  </div>
                </a>
              </li>
              <li>
                <a href="">
                  <span class="las la-shield-alt"></span>
                  <div>
                    <span>Seguridad</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="profile_settings">
          <div class="general_settings">
            <div class="section_left">
              <div>
                <img src="/img/img_profile.png" alt="" />
                <div>
                  <span class="las la-camera"></span>
                </div>
              </div>
            </div>
            <div class="section_right">
              <h1>{{user.nombre}} {{user.apellido}}</h1>
              <a href="">Editar</a>
            </div>
          </div>
          <div class="personal_settings">
            <div class="personal_settings_card">
              <div class="section_left">
                <h5>Cédula</h5>
              </div>
              <div class="section_right">
                <div class="value">
                  <h5>{{user.cedula}}</h5>
                </div>
                <a href="">Editar</a>
              </div>
            </div>
            <div class="personal_settings_card">
              <div class="section_left">
                <h5>Género</h5>
              </div>
              <div class="section_right">
                <div class="gender_options disable">
                  <div class="option">
                    <input type="radio" />
                    <span class="fas fa-mars"></span>
                    <span>masculino</span>
                  </div>

                  <div class="option">
                    <input type="radio" />
                    <span class="fas fa-venus"></span>
                    <span>Femenino</span>
                  </div>

                  <div class="option">
                    <input type="radio" />
                    <span class="fas fa-genderless"></span>
                    <span>Prefiero no revelarlo</span>
                  </div>
                </div>
                <div class="value">
                  {{!-- <span class="fas fa-genderless"></span> --}}
                  <h5>{{user.genero}}</h5>
                </div>
                <a href="">Editar</a>
              </div>
            </div>
            <div class="personal_settings_card">
              <div class="section_left">
                <h5>Fecha de nacimiento</h5>
              </div>
              <div class="section_right">
                <div class="value">
                  <h5>{{user.fecha_nacimiento}}</h5>
                </div>
                <a href="">Editar</a>
              </div>
            </div>
            <div class="personal_settings_card">
              <div class="section_left">
                <h5>Estatura</h5>
              </div>
              <div class="section_right">
                <div class="value">
                  <h5>{{user.estatura}}</h5>
                </div>
                <a href="">Editar</a>
              </div>
            </div>
            <div class="personal_settings_card">
              <div class="section_left">
                <h5>Peso</h5>
              </div>
              <div class="section_right">
                <div class="value">
                  <h5>{{user.peso}}</h5>
                </div>
                <a href="">Editar</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>

</div>