<!-- MAIN CONTECT -->
<div class="main_contect">
    <main class="main_app">
        {{#each solicitud_info}}

        <section class="dash_title">
            <h2 id="title_view" class="pestana hidden">Solicitudes</h2>
            <h2 id="title_pestaña" class="pestana hidden">{{nombre_institucion_medica}}</h2>

        </section>
        <div class="solicitud_grid">
            <section class="solicitud_wrapper">
                <div class="head_solicitud">
                    <span>N° {{id_solicitud}}</span>
                    <h1>Solicitud de contrato</h1>
                </div>
                    <div class="container_info">
                        <div class="info_detalles">
                            <div>
                                <h3>Información de la solicitud</h3>
                                <div>
                                
                                    <h4>Institución Médica: <span>{{nombre_institucion_medica}}</span></h4>
                                
                                    <h4>Tipo de Institución: <span>{{tipo_institucion}}</span></h4>
                            
                                
                                </div>
                            </div>
                            <div class="procesos_aprovacion">
                                <div>
                                    <input type="checkbox" checked name="credentials_input" id="">
                                    <label for="">Generar Credenciales.</label>
                                </div>
                                <div>
                                    <input type="checkbox" checked name="permisos_input" id="">
                                    <label for="">Activar permisos de procesos.</label>
                                </div>


                                <div>
                                    <input type="checkbox" checked name="crud_institucion_input" id="">
                                    <label for="">Crear Institción Médica Virtual.</label>
                                </div>

                                <div>
                                    <input type="checkbox" checked name="email_input" id="">
                                    <label for="">Enviar correo electrónico.</label>
                                </div>
                                
                            </div>
                        </div>
                        <div class="info_contacto">
                            <h3>Contacto</h3>
                            <div>
                                
                                    <h4>Cédula: <span>{{cedula_contacto}}</span></h4>
                                
                                    <h4>Nombres: <span>{{nombres_contacto}}</span></h4>
                                
                                    <h4>Teléfono: <span>{{tel_contacto}}</span></h4>
                                
                                    <span class="correo_contacto">{{email_contacto}}</span>
                                
                            </div>

                        </div>
                    </div>
                    <div class="container_buttons">
                        {{!-- <button onclick="window.location='solicitudes/cancel/{{id_solicitud}}'"
                            class="btn btn_solicitud_edit">
                            Cancelar
                        </button> --}}
                        <a class="file_xmark" href="/solicitudes/cancel/{{id_solicitud}}"><i class="fa-solid fa-file-circle-xmark"></i></a>
                        <button onclick="window.location='/solicitudes/approve/{{id_solicitud}}'"
                            class="btn btn_solicitud_edit">
                            Aprobar
                        </button>
                    </div>
                
                {{/each}}
            </section>
            <section class="solicitudes_info">
                <div class="summary_card">
                    <div class="summary_single">
                        <div>
                            <span class="fas fa-list"></span>
                            <span>Totales</span>
                        </div>
                        <h5>{{length solicitudes}}</h5>
                    </div>
                </div>
                <div class="summary_card">

                    <div class="summary_single">
                        <div>
                            <span class="fas fa-file-circle-exclamation"></span>
                            <span>Pendientes</span>
                        </div>
                        <h5>{{length solicitudes_awaiting}}</h5>
                    </div>

                    <div class="summary_single">
                        <div>
                            <span class="fas fa-file-circle-check"></span>
                            <span>Aprobadas</span>
                        </div>
                        <h5>{{length solicitudes_approved}}</h5>
                    </div>

                    <div class="summary_single">
                        <div>
                            <span class="fas fa-file-circle-xmark"></span>
                            <span>Canceladas</span>
                        </div>
                        <h5>{{length solicitudes_canceled}}</h5>
                    </div>
                </div>

                <div class="users_card">
                    <div class="summary_single user_header">
                        <div>
                            <span class="fas fa-bell"></span>
                            <span>Nuevos</span>
                        </div>
                        <h5>{{length solicitudes_new}}</h5>
                    </div>
                    {{#each solicitudes_new}}
                    <div class="user_single">
                        <div class="info">
                            <img src="/img/img_profile.png" alt="" />
                            <div>
                                <h4>{{nombre_institucion_medica}}</h4>
                                <div class="details">
                                    <h5>{{categoria_institucion}}</h5>
                                    <h5>{{tipo_institucion}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{else}}
                    <div class="container_solicitudes_process_no_content">
                        <h1>No hay solicitudes nuevas</h1>
                    </div>
                    {{/each}}

                </div>

            </section>
        </div>

    </main>
</div>